@import url("w3.css");

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(/matchups/fonts/RobotoMono.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src: url(/matchups/fonts/RobotoMono500.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: 600;
  font-display: swap;
  src: url(/matchups/fonts/RobotoMono600.woff) format('woff');
}

.toolbar-2{
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: #eee;
}

.toolbar-2 div{
	top: 50%;
	transform: translate(0, -50%);
}


body{
	background: #eee;
	font-family: 'Roboto Mono';
	overflow: hidden;
	height: 100vh;
   	width: 100vw;
    	overflow: hidden;
    	position: absolute;
}

.toucharea{
	height: 100%;
	width: 100%;
}

.title, .player{
	margin: 12px 24px 12px;;
	font-size: 16px;
}

.title{
	font-weight: 500;
	margin-top: 24px;

}

.toolbar{
	font-size: 16px;
	position: absolute;
	width: 100%;
	height: 18vh;
	z-index: 4;
	transition: cubic-bezier(.42,0,.58,1) 0.5s;
    display: none;
}



.click{
	font-family: 'Material Icons';
	font-size: 24px;
	padding: 5px;
}

.click ~ .click{
	left: 100%;
}

.card{
	border-radius: 8px;
	overflow: hidden;
	border-radius: 8;
	z-index: 5;
}

button{
	pointer-events: none
}

.left, .right {
	position: absolute;
	top: 10%;
	bottom: 10%;
	width: calc(42.5vw);

	background: white;
}

.card{

}

.left {
	left: 5vw;
	/*background-color: #b2ebf2;*/
}

.right {
	right: 5vw;
	/*background-color: #f8bbd0;*/
}

.right .ripple{
	background-color: rgba(63,81,181,0.2);
}

.left .ripple{
	background-color: rgba(244,67,54,0.2);
}

.center{
	position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
	left: 50%;
	font-family: 'Roboto Mono';
}

.score, .lineup{
	width: 100%;
	text-align: center;
}

.score{
	font-size: calc(15vh + 50px);
}

.lineup{
	font-size: calc(2vh + 8px);
	margin-top: 8vh;
}

.fullScreenLayer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 16px;
	display: none;
	background: #eee;
}

.tier{
	width: calc(22.5% - 30px);
	height: 70vh;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	background: white;
	outline: none;
	top: 10%;
}

.tier:first-child{
	margin-left: 5vw
}

.tier:last-child{
	margin-right: 5vw;
}


.fullScreenLayer .right, .fullScreenLayer .left{
	overflow-y: scroll;
	padding-bottom: 4px;
}

.column{
	width: 100%;
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 24px;
	padding-bottom: 24px;
	position: relative;
	border-bottom: 1px solid #ddd;
	font-family: 'Roboto Mono';
}

.column:last-child{

}

.layer-1{
	z-index: 3;
}

.lr-2{
	z-index: 4;
}

.layer-1, .layer-2, .scoreKeeper{
	  margin-top: 8vh;
    width: 100%;
    height: 100%;
    position: absolute;
	transition: 0.5s;
}



.team-1, .team-2, .points, .team-3 {
	width: 84%;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%)
}

.team-1{
	text-align: left;
	left: 25%;
}

.team-3{
	right: 8%;
	text-align: right;

}

.column ~ .column .team-3{
	padding-right: 0;
}


.points{

}

.rounded{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
}

.rounded ~ .rounded{
	opacity: 0;
	z-index: 4;
}

.column:first-child, .column:first-child .points{
	font-family: 'Roboto Mono';
	font-weight: 600;
}

spand{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	font-family: Material Icons;
	font-size: 4vh;
	color: white;
}

span{
	margin: 0 8px;
	display: inline-block;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/matchups/fonts/MaterialIcons.woff) format('woff');
}

.card .ripple{
  border-radius: 50%;

  position: absolute;
  transform: scale(0);
  animation: ripple 0.6s linear;
}



@keyframes ripple{
  to{
    transform: scale(2.5);
    opacity: 0;
  }
}

.scoreKeeper{
	display: none;
}

.layer-2{
	display: block;
}

.layer-1 .card{
	bottom: 20%;
}

.toolbar-left, .toolbar-right{
	top: 50%;
	transform: translate(0, -50%);
	position: absolute;
	display: inline-block;
}


.toolbar-left{
	left: calc(5vw - 13px);
}

.toolbar-right{
	right: calc(5vw - 13px);
	text-align: right;
}

.column:first-child{
	background: white;
	width: 42.5vw;
	position: fixed;
	padding-top: 28px;
	background: white;
	z-index: 2;
	margin-top: -0.5px;
	border-radius: 8px 8px 0 0;
}

.column:first-child .points{
	left: 8%
}

.column:nth-child(2){
	margin-top: 52px;
}
